*{
    box-sizing: border-box;
    font-family: "lato","微軟正黑體"
   }
   /* 變數定義顏色 */
   :root{
       --primarycolor:#692d16;
       --drak:#333;
       --light:#3f2313;
       --black:#ffffff;
       --white:#ffffff;
   }
   .clearfix::after{
       content: "";
       display:block;
       clear:both;
   }
   html,body,h1,h2,h3,h4,h5,h6,p,ol,li,ul,img{
       margin: 0;
       border: 0;
       padding: 0;
   }
   ul,li,ol{
       list-style: none;
   }
   img{
    width: 100%;
}
.nopa{
    padding: 0!important;
}
.full-width{
    width: 100%;
}
